.helpPage {
  width: 95%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-areas:
    'info'
    'fund'
    'build'
    'host'
    'form';
  grid-gap: 3em;
  grid-template-rows: auto auto auto;
}

@media only screen and (min-width: 800px) {
  .helpPage {
    grid-template-areas:
      'info info info'
      'fund fund .'
      '. build build'
      'host host .'
      'form form form';
    grid-template-columns: 1fr 2fr 1fr;
    padding: 3em;
  }
}

.fund {
  grid-area: fund;
}

.build {
  grid-area: build;
}

.build a {
  color: var(--accent);
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.info {
  grid-area: info;
}

.host {
  grid-area: host;
  margin-bottom: 1vh;
}

.form {
  grid-area: form;
  margin: 2em 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
}

/* .textArea {
  flex: 60;
  margin-right: 7px;
} */

.textBox {
  flex: 4;
  /* padding-left: 40px; */
  border-radius: 15px;
  border: none;
  margin: 5px;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.submitButton {
  flex: 1;
  margin: 5px;
  padding: 7px;
  background-color: var(--accent);
  color: rgb(221, 221, 221);
  border: 0;
  border-radius: 15px;

  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.submitButton:hover {
  cursor: pointer;
  background-color: var(--accent-h);
}
