@import '../../App.css';

.logo {
  color: var(--text);
  font-size: 250%;
  font-weight: 335;
  padding-left: 5px;
  text-shadow: 1px 1px var(--accent);
  display: inline;
}

.logoIcon {
  margin: 7px;
  max-height: 1em;
  max-width: 33%;
  margin-bottom: -2px;
}
