@import '../../App.css';

/* hiding of sidebar and app bar, landscape vs portrait*/
#landscape {
  display: none;
}
@media (orientation: landscape) {
  #portrait {
    display: none;
  }
  #landscape {
    display: block;
  }
}
