@import '../../App.css';

.topbar {
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 900;
  margin-top: -50px;
  background-color: var(--bg);
  box-shadow: 1px 0px 10px var(--bg-shadow);
}

#menu {
  position: absolute;
  height: 45px;
  width: 45px;
  margin-left: 12px;
  margin-top: 3px;
}

#menu:hover {
  cursor: pointer;
}

.centerLogo {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
