@import '../../App.css';

#mapid {
  height: calc(100vh - 50px);
  width: 100%;
}
@media (orientation: landscape) {
  #mapid {
    height: 100vh;
    margin-top: 0px;
  }
}

.map {
  height: calc(100vh - 50px);
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (orientation: landscape) {
  .map {
    height: 100vh;
    margin-top: 0px;
  }
}

.mapTooltip {
  font-size: 0.9rem;
  opacity: 1;
  background: var(--bg);
  color: var(--text);
  border: 0px;
  min-width: 150px;
  max-width: 150px;
  border-radius: 7px;
  white-space: normal;
}

.tooltipTitle {
  margin-top: -3px;
  font-size: 1.1em;
  font-weight: 750;
  text-align: center;
  max-width: 150px;
}

.tooltipValueList {
  font-weight: 500;
  padding-top: 5px;
  padding-left: 5px;
  list-style-type: none;
}

.topImage {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 999;
  bottom: 30px;
  right: 10px;
  max-width: 15vw;
  max-height: 45vh;
  width: auto;
  height: auto;
}
