.popUp {
  height: 80px;

  position: absolute;
  bottom: -80px;
  left: 5%;
  background-color: var(--bg);
  z-index: 900;
  width: 90%;
  border-radius: 7px 7px 0 0;
  transition: 0.2s;
}

.popUp.active {
  bottom: 0px;
}

.toggle {
  position: absolute;
  bottom: 65px;
  /* margin-left: auto;
  margin-right: auto; */
  left: 50%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.scrub {
  vertical-align: middle;
  width: 90%;
  max-width: 90%;
  height: 50px;
  margin-top: 20px;
  -webkit-appearance: none;
  background: transparent;
}

.scrub::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* border: 1px solid #000000; */
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--accent);
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* .scrub::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

.scrub::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
} */

.scrub:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.scrub::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.scrub:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

/* .scrub::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.scrub::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.scrub::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.scrub:focus::-ms-fill-lower {
  background: #3071a9;
}
.scrub::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.scrub:focus::-ms-fill-upper {
  background: #367ebd;
} */
