<<<<<<< HEAD
<<<<<<< Updated upstream
=======
.chartPage {
  display: grid;
  grid-template-areas:
    'text'
    'chart'
    'datePicker'
    'download';
=======
.chartPage {
  display: grid;
  grid-template-areas:
    "text"
    "chart"
    "datePicker"
    "download";
>>>>>>> 04b0315337a027f09e7f9662a53591c3eab37053
  grid-gap: 1em;
}

.text {
<<<<<<< HEAD
  margin-top: 20px;
=======
  margin-top: 30px;
>>>>>>> 04b0315337a027f09e7f9662a53591c3eab37053
  grid-area: text;
  text-align: center;
}

<<<<<<< HEAD
.chartPageDatePicker {
  grid-area: datePicker;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
=======
@media only screen and (min-width: 800px) {
  .chartPage {
    margin: 10px;
    grid-template-areas:
      "text ."
      "chart download"
      "datePicker download";
    grid-template-columns: 2fr 1fr;
  }
}

.chartPageDatePicker {
  grid-area: datePicker;
  /* background-color: white; */
  margin: 10px auto;
>>>>>>> 04b0315337a027f09e7f9662a53591c3eab37053
}

.chartPageDatePicker .react-date-picker {
  color: #000;
  font-weight: 500;
  text-align: center;
  background-color: #8b8b8b;
  margin: 0px 10px;
  box-shadow: 1px 0px 10px #171717;
}

<<<<<<< HEAD
.popUpCalendar {
  position: relative;
  z-index: 999;
}

@media only screen and (min-width: 1200px) {
  .chartPage {
    margin: 30px;
    grid-template-areas:
      'text .'
      'chart datePicker'
      'download download';
    grid-template-columns: 2fr 1fr;
  }
  .chartPageDatePicker {
    grid-area: datePicker;
    margin: 10px auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
=======
.chartPageDatePicker .react-calendar {
  position: fixed;
  /* color: var(--text); */
  /* background-color: var(--bg); */
>>>>>>> 04b0315337a027f09e7f9662a53591c3eab37053
}

.download {
  margin: 100px auto;
  grid-area: download;
  text-align: center;
  color: var(--text);
  font-weight: 450;
<<<<<<< HEAD
  max-width: 450px;
=======
  width: 450px;
>>>>>>> 04b0315337a027f09e7f9662a53591c3eab37053
}

.download a {
  color: var(--accent);
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
<<<<<<< HEAD

.chartCard {
  max-width: min(100vw, 100%);
  grid-area: chart;
  background-color: var(--bg-h);
  box-shadow: 1px 0px 10px #171717;
  border-radius: 10px;
}
>>>>>>> Stashed changes
=======
>>>>>>> 04b0315337a027f09e7f9662a53591c3eab37053
