{% extends "layout.html" %} {% block content %}

<head>
	<title>AirBDN</title>
	<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
	<!-- <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
	<style>
		.map {
			width: 100%;
			height: 400px;
		}
	</style> -->
</head>

<body>
	<br>
	<!-- <div id="map" class="map"></div> -->

	<iframe width="100%" height="800" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-2.2877311706542973%2C57.10548675798547%2C-2.0010566711425786%2C57.191529605835285&amp;layer=mapnik"
	    style="border: 0px solid black">
	</iframe>
	<br>
	<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29111.646750178534!2d-2.1337139240426874!3d57.1586677432106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4884054c1fd77549%3A0xe8bb05da5cf4c472!2sAberdeen!5e0!3m2!1sen!2suk!4v1574183034034!5m2!1sen!2suk"
	    width="100%" height="800" frameborder="0" style="border:0;" allowfullscreen="">
	</iframe> -->
	<!-- {% for sensor in sensor_info_dict %}
	<a data-toggle="tooltip" data-html="true" data-placement="top" title="{{sensor_info_dict[sensor]}}" href="/sensor/{{sensor}}">{{ sensor }}</a> {% endfor %} -->
	{% for sensor in sensor_list %}
	<a data-toggle="tooltip" data-html="true" data-placement="top" title="temp" href="/sensor/{{sensor}}">{{ sensor }}</a> {% endfor %}
	<!-- <script src="index.js"></script> -->
</body>

{% endblock content %}

<!--
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtNszjQP8euTM77to6j8K_LJ0Yrgc-6NQ&callback=initMap"
    async defer></script>
  </body>
</html>
-->